:root {
    --bg-color: #FFFFFF;
    --primary-text-color: rgb(70, 70, 70);
    --btn-text-color: white;
    --btn-bg-color-secondary: #4E73C2;
    --btntoggle-color: rgb(218, 173, 29);
    --blackTextcolor: black;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Righteous';
    background-color: rgb(36, 36, 36);
    overflow: hidden;
}

body button {
    cursor: pointer;
    font-family: 'Righteous';
}

#header {
    background-color: rgb(36, 36, 36);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    font-family: 'Righteous';

}

#header h1 {
    font-size: 30px;
    font-family: 'Sacramento';
    color: rgb(255, 255, 255);

}

#header button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;

}


#storyBody {
    background-color: rgb(36, 36, 36);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-top: 1px solid rgba(90, 90, 90, 0.788);

    color: rgb(255, 255, 255);
    box-sizing: border-box;
    gap: 0px;

}

#stories {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#addStories {
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 10px;

}

.story-thumbnail {
    position: relative;
    width: 90px;
    height: 130px;
    overflow: hidden;
    border: 2px solid #7a7a7a;
    transition: border-color 0.3s ease;
    border-radius: 10px;
}

.story-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.story-thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#story-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
    background: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: 'Righteous';

}

#story-label button {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 30px;
    border: none;
    text-align: center;
    background-color: #007bff;
    font-size: 10px;
    font-weight: bold;
    color: white;
    transition: .2s;
    z-index: 1;
}

#story-label button:hover {
    transform: scale(1.1);
}

#addStories:hover .story-thumbnail {
    border-color: #4e92db;
}


#addNewStory {
    background-color: rgb(36, 36, 36);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

#addNewStoryBody {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;
    justify-content: space-between;
    padding: 10px 0;


}

#addNewStoryBody button {
    background-color: var(--btn-bg-color-secondary);
    width: 20%;

    padding: 7px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;

    position: relative;
    margin: 0 10px;
}

#addNewStoryBody label {

    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    color: rgb(255, 255, 255);


    text-align: center;
}

#addNewStoryBody #storyControl {
    display: flex;
    justify-content: right;
    width: 95%;


}

#addNewStoryBody #storyControl #closeAddStory {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 30px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}



#viewStoryBody {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
}

#previewOfStory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: auto;
    width: 100%;
    background-color: rgb(36, 36, 36);
    height: 100%;


    color: white;

}

#previewOfStory #usernameOfStoryview {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#previewOfStory #closeViewStory {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

#storyViewCount {
    position: relative;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-color: #2b51a5;
    aspect-ratio: 1/1;
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
}

#footerInViewStory {
    display: flex;
    align-items: center;
}

/* #storyViewCount {
    position: absolute;
    bottom: 10%;
    left: 10px;
    background-color: var(--btn-bg-color-secondary);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 7px;
    aspect-ratio: 1/1;
    min-width: 15px;
    text-align: center;
    align-items: center;
} */

#reactToStory {

    width: 95%;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    justify-content: right;
    padding: 10px;
    margin-bottom: 10px;

}

#reactToStory i {
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    color: white;
    padding: 10px;
    background-color: #e2c12b;
    cursor: pointer;
    font-size: 15px;
}

#reactToStory i:first-child {
    background-color: red;
    font-size: 15px;
}

#reactToStory i:last-child {
    background-color: blue;
    font-size: 15px;
}



/* #footerNav #home i {
    
    color: white;
    
} */

#userPost {
    position: absolute;
    width: 100%;
    height: calc(100% - 15.5%);
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    top: 60px;
    z-index: -1;
    gap: 5px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: white;
}

#userPost::-webkit-scrollbar {
    display: none;
}



#postcontent {
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: fit-content;
    padding-bottom: 10px;
    border-top: 1px solid rgba(90, 90, 90, 0.788);
    color: white;

}

#postcontent #followBTN {
    background-color: rgb(27, 88, 221);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    width: 70px;
}



#postlabel {
    color: white;
    font-size: 12px;
    margin-left: 5px;
}

#postlabel label {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#postlabel label span {
    color: rgb(255, 255, 255);
    font-weight: normal;

}

#userProfilePost {
    display: flex;
    background-color: rgb(36, 36, 36);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#userProfilePost div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#userProfilePost img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 1px solid rgba(90, 90, 90, 0.788);
    cursor: pointer;
}

#userProfilePost label {
    cursor: pointer;
}

#userProfilePost button {
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}




#userPostContent {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

#userPostContent img {
    width: 100%;
    height: 100%;
}

#userPostContent label {
    margin-left: 10px;
    font-size: 14px;

}



#likecommentshare {
    padding: 10px;

    display: flex;
    gap: 10px;
    justify-content: left;
}

#likecommentshare button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#likecommentshare button:hover {

    color: rgb(255, 255, 255);
}

#valueoflikecommentshare {
    display: flex;
    gap: 14px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 0 0 5px 5px;

}





























#footerNav {
    background-color: rgb(36, 36, 36);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgb(175, 175, 175);
    gap: 35px;
    height: 7%;
}

#footerNav button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


#sidebar {
    display: none;
}




#profileBody {
    position: absolute;
    width: 100%;
    height: calc(100% - 7%);
    background-color: rgb(36, 36, 36);
    z-index: 1;
    color: white;

}

#headProfile {
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;

}

#headProfile label {
    font-size: 19px;
    color: white;

}

#headProfile #backBtnonProfile {
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
}

#headProfile #settingsInProfile {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 19px;
    color: white;
}

#profileiconBody {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
    color: white;
}
#bioBody{
    
    padding: 0 20px;
    display: flex;
    justify-content: center;
}
#bioInProfile {
    padding: 5px;
    text-align: center;
    align-items: center;
    
    justify-content: center;
    justify-items: center;
    color: white;
    font-size: 10px;
}


#aboutUserInfoBody{
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    padding: 5px 10px;
}
#aboutUserInfoBody label{
    font-size: 11px;
}
#aboutUserInfoBody span{
    font-size: 11px;
}
#aboutUserHead{
    display: flex;
    justify-content: space-between;
}
#aboutUserHead label{
    font-size: 14px;
}
#aboutUserHead button{
    border: none;
    background-color: transparent;
    color: white;
}



#profileiconBody #profileControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
    color: white;
}
#profileControl div button{
    padding: 10px;
    gap: 5px;
}
#profileControl #aboutUser{
    background-color: #6D6D6D;
}

#profileiconBody img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    border: 5px solid white;
}

#profileiconBody #icon {

    position: relative;
    box-sizing: border-box;
}

#icon div {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 200%;
    border-bottom-left-radius: 200%;
}

#icon div button {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 20px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    padding: 0 2px;

}

#icon div button i {
    color: rgb(255, 255, 255);

}

#profileControl button {
    background-color: #1C6CFF;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: var(--btn-text-color);
    font-weight: 600;
    font-size: 11px;
}

#profileControl label {
    color: white;
}


#profileDetails {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    border-top: 1px solid rgba(197, 197, 197, 0.788);
    margin-top: 10px;
}

#profileDetails div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;

}

#profileDetails div label:first-child {
    font-size: 20px;
    color: white;
}

#profileDetails div label:last-child {
    font-size: 15px;
    color: rgb(194, 194, 194);
}



#logoutPopup {
    background-color: rgb(36, 36, 36);

    position: absolute;

    z-index: 1;
    top: 40px;
    right: 20px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

#logoutControl {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#logoutControl button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#logoutControl button:first-child {
    background-color: #1C6CFF;
}

#logoutControl button:last-child {
    background-color: #E85C67;
}












#visitprofileBody {
    position: absolute;
    width: 100%;
    height: calc(100% - 7%);
    background-color: rgb(36, 36, 36);
    z-index: 1;
    color: white;
}

#visitheadProfile {
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
}

#visitheadProfile label {
    font-size: 19px;
    color: white;

}

#visitheadProfile button {
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: white;
}

#visitprofileiconBody {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    color: white;
}

#visitprofileiconBody #profileControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
    color: white;
}

#visitprofileiconBody img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
}



#visitprofileControl label {
    color: white;
}


#visitprofileDetails {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    color: white;
}

#visitprofileDetails div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    color: white;

}

#visitprofileDetails div label:first-child {
    font-size: 20px;
    color: white;
}

#visitprofileDetails div label:last-child {
    font-size: 15px;
    color: rgb(206, 206, 206);
}




#createPost {
    background-color: rgb(36, 36, 36);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
}

#createPost form {
    width: 100%;
    background-color: rgb(36, 36, 36);
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    color: white;

}


#createPost form #caption {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

#createPostControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    margin: 0 auto 10px auto;
}

#createPostUploaded {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#createPostUploaded input {
    width: 50%;
    margin: auto;
}

#createPost form #fileUp::-webkit-file-upload-button {
    width: 100%;
    padding: 10px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createPost form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    cursor: pointer;
}

#createPost #closeCreatePost {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--blackTextcolor);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: white;
}




#updateProfilePic {
    background-color: rgb(36, 36, 36);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;

}

#updateProfilePic #closeUpdateProfile {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#updateProfilePic #updateProfilePicForm {

    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    color: white;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

#updateProfilePic #updateProfilePicForm input::-webkit-file-upload-button {
    width: 100%;
    padding: 10px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    border: none;
    border-radius: 5px;
}

#updateProfilePic #updateProfilePicForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    width: 90%;
    margin: 0 auto 10px auto;
}








#profileContent {
    box-sizing: border-box;
    padding: 5px;
    max-height: calc(100% - 49%);
    overflow: auto;
    -ms-overflow-style: none;
    

}

#profileContent::-webkit-scrollbar {
    display: none;
}

#profileContent #imgGrid {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#profileContent #imgGrid div {
    border: 1px solid rgba(197, 197, 197, 0.788);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}

#profileContent #imgGrid div img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-size: contain;
}






#visitprofileContent {
    box-sizing: border-box;
    padding: 5px;
    max-height: calc(100% - 250px);
    overflow: auto;
    -ms-overflow-style: none;
}

#visitprofileContent::-webkit-scrollbar {
    display: none;
}

#visitprofileContent #visitimgGrid {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#visitprofileContent #visitimgGrid div {
    border: 1px solid rgba(197, 197, 197, 0.788);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}

#visitprofileContent #visitimgGrid div img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-size: contain;
}









#previewofImageInPost {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

#previewofImageInPost div {
    width: 100%;

    margin: auto;
    display: flex;
}

#previewofImageInPost div img {
    width: 100%;
    height: auto;
    margin: auto;
}

#previewofImageInPost button {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}






#viewPostBody {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    overflow: hidden;
    box-sizing: border-box;

}

#commentsBody {
    background-color: rgb(36, 36, 36);
    position: absolute;
    bottom: -75%;
    width: 100%;
    height: calc(100% - 30%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    animation: up .2s linear;
    color: white;

}

@keyframes up {
    0% {
        bottom: -75%;
    }

    100% {
        bottom: 0%;
    }
}

#commentHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    gap: 10px;
    color: white;

}

#commentHead #closeComment {
    border-radius: 5px;
    width: 70px;
    padding: 2px;
    cursor: pointer;
}

#likesAndControls {
    display: flex;

    width: 90%;
    justify-content: space-between;

}

#likesAndControls button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#commentsContents {

    width: 100%;
    height: 100%;
    max-height: 77%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 10px;
    overflow: auto;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    margin-top: 2px;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#commentsContents::-webkit-scrollbar {
    display: none;
}

#commentsOnPost {
    background-color: rgb(36, 36, 36);
    display: flex;
    gap: 10px;
    align-items: top;
}

#commentsOnPost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

#commentDetails {
    background-color: #ffffff;
    color: black;
    width: auto;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#commentDetails label {
    word-break: break-all;
}

#commentDetails #userThatComment {
    color: black;
    font-weight: bold;
}

#addCommentToPost {

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 10px 20px 10px;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
}

#addControl {
    display: flex;
    gap: 5px;
    background-color: rgb(36, 36, 36);

}

#addControl input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(197, 197, 197, 0.788);
}

#addControl button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(75, 110, 226);
    font-size: 10px;
    width: 60px;
    cursor: pointer;
}

#addControl button i {
    transform: rotate(20deg);
}















#showFollowersBody {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 7%);
    background-color: rgb(36, 36, 36);
    box-sizing: border-box;
    z-index: 1;
    color: white;
    overflow: hidden;
}

#showFollowersBody #showFollowersHead {
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgb(151, 151, 151);
    width: 100%;
    padding: 6px;
    justify-content: center;
    color: white;
}

#showFollowersHead button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
}

#showFollowersContent {
    background-color: rgb(36, 36, 36);
    width: 100%;
    display: flex;
    padding: 6px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    max-height: calc(100% - 30px);
    overflow: auto;
}

#followersContent {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    text-align: center;

}

#followersContent div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#followersContent label {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#followersContent img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

#followersContent button {
    background-color: var(--btn-bg-color-secondary);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--btn-text-color);
    border: none;
}




#storyViewerList {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.336);
    overflow: hidden;
    display: flex;
}

#listOfViewer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(36, 36, 36);
    height: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#controlStoryViewer {
    background-color: rgb(36, 36, 36);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid white;
}

#controlStoryViewer button {
    width: 15%;
    background-color: rgb(43, 43, 43);
    height: 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid white;
}




#viewerContent {

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    max-height: 390px;

}

#viewerContentInfo {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewerContentInfo #viewerInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

#viewerContentInfo #viewerReactions {
    display: flex;
    gap: 5px;
    align-items: center;
    color: white;
}


#viewerReactions #heartReact {
    background-color: red;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 8px;
}


#hahaReact {
    background-color: rgb(228, 154, 44);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 8px;
}


#likeReact {
    background-color: rgb(39, 134, 223);
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 8px;
}













#viewerInfo img {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid white;
}




#reactionsPopupIconheart {
    position: absolute;
    top: 45%;
    right: 44%;
    transform: translate(-50%, -45%);
    display: flex;
    animation: fadeOutheart .3s ease-in;



}

#reactionsPopupIconheart #heartReactPopup {
    color: red;
    margin: auto;
    font-size: 40px;

}


#reactionsPopupIconhaha {
    position: absolute;
    top: 45%;
    right: 44%;
    transform: translate(-50%, -45%);
    display: flex;
    animation: fadeOuthaha .3s ease-in;



}

#reactionsPopupIconhaha #hahaReactPopup {
    color: #e2c12b;
    margin: auto;
    font-size: 40px;

}

#reactionsPopupIconlike {
    position: absolute;
    top: 45%;
    right: 44%;
    transform: translate(-50%, -45%);
    display: flex;
    animation: fadeOutlike .3s ease-in;



}

#reactionsPopupIconlike #likeReactPopup {
    color: blue;
    margin: auto;
    font-size: 40px;

}

@keyframes fadeOutheart {
    from {
        opacity: 1;
        transform: scale(1);

    }

    to {
        opacity: 0;
        transform: scale(.3);

    }
}

@keyframes fadeOuthaha {
    from {
        opacity: 1;
        transform: scale(1);

    }

    to {
        opacity: 0;
        transform: scale(.3);

    }
}

@keyframes fadeOutlike {
    from {
        opacity: 1;
        transform: scale(1);

    }

    to {
        opacity: 0;
        transform: scale(.3);

    }
}











#editProfileInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    box-sizing: border-box;
    z-index: 1;
    color: white;
    overflow: hidden;

}

#headerInProfile {
    width: 100%;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(102, 102, 102);
    color: white;
}

#headerInProfile button {
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: transparent;
    border: none;
    color: white;
}

#contentOfprofileInfo {

    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contentOfprofileInfo div {
    display: flex;
    gap: 5px;
}

#contentOfprofileInfo input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#contentOfprofileInfo button {
    border-radius: 5px;
    background-color: #1C6CFF;
    color: white;
    border: none;
    padding: 5px 20px;
}

#bioDiv {
    display: flex;
    flex-direction: column;
}

#bioDiv textarea {
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
}

#bioDiv button {
    width: 30%;
    padding: 10px 20px;
}






#searchBody {
    position: absolute;
    width: calc(100% - 20%);
    height: calc(100% - 7%);
    background-color: rgb(36, 36, 36);
    box-sizing: border-box;
    z-index: 1;
    right: 0;
    color: white;
    border-left: 1px solid rgb(102, 102, 102);
}

#searchHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(75, 75, 75);
    position: fixed;
    width: 80%;
    background-color: rgb(36, 36, 36);
    height: 6%;
}

#searchContent {
    display: flex;
    gap: 5px;
}

#searchContent input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 50%;
}

#searchContent button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1C6CFF;
    color: white;
    font-size: 13px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
}

#closeSearchWindow {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 15px;
}



#searchResultsBody {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    height: calc(100% - 6%);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

#searchResultsBody::-webkit-scrollbar {
    display: none;
}

#searchResults {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#contentsOfSearchResults {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.274);
}

#resultsDetails {
    display: flex;
    align-items: center;
    gap: 5px;
}

#resultsDetails img {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid white;
}

#resultsControl {
    display: flex;
    gap: 5px;
}

#resultsControl button {
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #1C6CFF;
    font-size: 12px;
}






#loadingBarInComment #loadingComment {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    position: absolute;
    top: 35%;

    margin-left: 2.5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    animation: spinLoadingComment .5s linear infinite;

}




#searchLoadingMessage {
    position: absolute;
    height: calc(100% - 6%);
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    text-align: center;
}



































































@media (min-width:930px) {
    body {
        background-color: rgb(36, 36, 36);
        color: white;
    }

    #header {
        display: none;
    }

    #sidebar {
        position: fixed;
        left: 0;
        background-color: rgb(36, 36, 36);
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: left;
        text-align: left;
        color: white;
        width: 20%;
        height: 100%;
        border-right: 1px solid rgba(197, 197, 197, 0.788);

    }

    #sidebar button {
        padding: 15px;
        border-radius: 6px;
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: none;
        text-align: left;
        font-size: 17px;
        cursor: pointer;
        margin: 0 8%;
    }

    #sidebar button:hover {
        background-color: rgba(158, 158, 158, 0.123);
    }

    .topbar {
        font-size: 50px;
        color: rgb(255, 255, 255);
        font-family: 'Sacramento';
        margin: 0 8%;
    }

    .botbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    #footerNav {
        display: none;
    }

    #userPost {
        width: calc(100% - 20%);
        right: 0;
        height: calc(100%);
        top: 0;
        background-color: rgb(36, 36, 36);
        padding: 0px 15%;
        color: white;

    }

    #postcontent {


        background-color: rgb(36, 36, 36);
        color: rgb(255, 255, 255);
        padding-bottom: 15px;
        border-left: 1px solid rgb(102, 102, 102);
        border-right: 1px solid rgb(102, 102, 102);
    }

    #userProfilePost {
        color: rgb(255, 255, 255);
        background-color: transparent;
    }

    #userProfilePost label {
        color: rgb(255, 255, 255);
    }

    #postcontent div {
        color: rgb(255, 255, 255);
    }



    #userProfilePost img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid rgb(102, 102, 102);
    }

    #storyBody {
        background-color: rgb(36, 36, 36);
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-bottom: 1px solid rgba(102, 102, 102, 0.788);
        border-top: 1px solid rgba(102, 102, 102, 0.788);
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        gap: 0px;

    }

    #stories {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    #addStories {
        cursor: pointer;
        font-family: sans-serif;
        border-radius: 10px;

    }

    .story-thumbnail {
        position: relative;
        width: 180px;
        height: 280px;
        overflow: hidden;
        border: 2px solid #858585;
        transition: border-color 0.3s ease;
        border-radius: 10px;
    }

    .story-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #story-label {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 8px 0;
        background: rgba(0, 0, 0, 0.699);
        color: white;
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;


    }

    #story-label button {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 50px;
        border: none;
        text-align: center;
        background-color: #007bff;
        font-size: 15px;
        font-weight: bold;
        color: white;
        transition: .2s;

    }

    #story-label button:hover {
        transform: scale(1.1);
    }

    #addStories:hover .story-thumbnail {
        border-color: #007bff;
    }

    #postlabel label {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }


    #visitprofileBody {
        background-color: rgb(36, 36, 36);

        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);
    }

    #visitprofileBody #visitheadProfile label {
        color: rgb(255, 255, 255);
    }

    #visitprofileBody #visitheadProfile button {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #visitprofileiconBody label {
        color: rgb(255, 255, 255);
    }

    #visitprofileDetails #visitpostBody label {
        color: rgb(255, 255, 255);
    }

    #visitprofileDetails #visitfollowerBody {
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowerBody label {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowingBody {
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowingBody label {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #profileBody {
        background-color: rgb(36, 36, 36);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(122, 122, 122, 0.788);
        color: white;
    }

    #profileBody #headProfile label {
        color: rgb(255, 255, 255);
    }

    #profileBody #headProfile button {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #profileiconBody label {
        color: rgb(255, 255, 255);
    }

    #profileDetails #postBody label {
        color: rgb(255, 255, 255);
    }

    #profileDetails #followerBody {
        cursor: pointer;
    }

    #profileDetails #followerBody label {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    #profileDetails #followingBody {
        cursor: pointer;
    }

    #profileDetails #followingBody label {
        color: rgb(255, 255, 255);
        cursor: pointer;
    }





    #profileContent {
        padding: 5px;
        color: rgb(255, 255, 255);
    }

    #profileContent #imgGrid {
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: rgb(255, 255, 255);
    }

    #profileContent #imgGrid div {
        border: 1px solid rgba(58, 58, 58, 0.788);
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        color: rgb(255, 255, 255);
    }

    #profileContent #imgGrid div img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background-size: contain;
        color: rgb(255, 255, 255);
    }




    #createPost {
        background-color: rgb(36, 36, 36);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(77, 77, 77, 0.788);
    }

    #createPost form {

        width: 600px;
    }

    #createPost form #preview {
        width: 100%;
        margin: auto;
    }


    #updateProfilePic {
        background-color: rgb(36, 36, 36);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(104, 104, 104, 0.788);

    }

    #createPost #closeCreatePost {
        color: white;
        cursor: pointer;
    }

    #updateProfilePic #closeUpdateProfile {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;

    }

    #updateProfilePic #updateProfilePicForm {
        width: 600px;
    }

    #updateProfilePic #updateProfilePicForm input::-webkit-file-upload-button {
        width: 100%;
        padding: 10px;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color-secondary);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #updateProfilePic #updateProfilePicForm button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color-secondary);
        cursor: pointer;
    }










    #viewPostBody {
        background-color: rgba(0, 0, 0, 0.452);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(100, 100, 100, 0.788);
        display: flex;
        padding: 0 14%;

    }

    #commentsBody {
        background-color: rgb(36, 36, 36);
        position: absolute;
        bottom: -75%;
        width: 65%;
        height: calc(100% - 30%);

        animation: up .2s linear;



    }

    @keyframes up {
        0% {
            bottom: -75%;
        }

        100% {
            bottom: 0%;
        }
    }

    #commentHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid rgba(197, 197, 197, 0.788);
        gap: 10px;
        background-color: rgb(36, 36, 36);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #commentHead #closeComment {
        border-radius: 5px;
        width: 70px;
        padding: 2px;
    }

    #likesAndControls {
        display: flex;

        width: 90%;
        justify-content: space-between;

    }

    #likesAndControls button {
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    #commentsContents {

        width: 100%;
        height: 100%;
        max-height: 80%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 10px;
        overflow: auto;
        background-color: rgb(36, 36, 36);
        border-bottom: 1px solid rgba(197, 197, 197, 0.788);
        margin-top: 2px;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    #commentsContents::-webkit-scrollbar {
        display: none;
    }

    #commentsOnPost {
        background-color: rgb(36, 36, 36);
        display: flex;
        gap: 10px;
        align-items: top;
    }

    #commentsOnPost img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #commentDetails {
        background-color: #ffffff;
        width: auto;
        padding: 5px 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #commentDetails label {
        word-break: break-all;
    }

    #commentDetails #userThatComment {
        color: black;
        font-weight: bold;
    }

    #addCommentToPost {

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 10px 20px 10px;
        height: auto;
        box-sizing: border-box;
        background-color: rgb(36, 36, 36);
    }

    #addControl {
        display: flex;
        gap: 5px;
        background-color: rgb(36, 36, 36);

    }

    #addControl input {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        width: 100%;
        border: 1px solid rgba(197, 197, 197, 0.788);
    }

    #addControl button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        color: white;
        font-weight: bold;
        background-color: var(--btn-bg-color-secondary);
        font-size: 10px;
        width: 60px;
        cursor: pointer;
    }

    #addControl button i {
        transform: rotate(20deg);
    }

    #userPostContent {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    #userPostContent video {
        max-height: 600px;
    }









    #showFollowersBody {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 20%);
        height: 100%;
        background-color: rgb(36, 36, 36);
        box-sizing: border-box;
        z-index: 1;
        color: white;
    }

    #showFollowersBody #showFollowersHead {
        background-color: rgb(36, 36, 36);
        display: flex;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 6px;
        justify-content: center;
        color: white;
    }

    #showFollowersHead button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    #showFollowersContent {
        background-color: rgb(36, 36, 36);
        width: 100%;
        display: flex;
        padding: 6px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 8px;
        max-height: calc(100% - 30px);
        overflow: auto;
        color: white;
    }

    #followersContent {
        background-color: rgba(0, 0, 0, 0.062);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px 15px;
        width: 100%;
        text-align: center;
        color: white;

    }

    #followersContent div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #followersContent label {
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    #followersContent img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #followersContent button {
        background-color: var(--btn-bg-color-secondary);
        padding: 5px 10px;
        border-radius: 5px;
        color: var(--btn-text-color);
        border: none;
    }









    #addNewStory {
        background-color: rgb(36, 36, 36);
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 20%);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border-left: 1px solid rgb(78, 78, 78);
    }

    #addNewStoryBody {
        width: 600px;
        height: auto;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;



    }



    #addNewStoryBody label {

        padding: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 100%;


        color: rgb(255, 255, 255);
        text-align: center;
    }






    #viewStoryBody {
        background-color: rgb(36, 36, 36);
        width: calc(100% - 20%);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        border-left: 1px solid rgb(107, 107, 107);
    }

    #previewOfStory {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        margin: auto;
        width: 500px;
        background-color: rgb(0, 0, 0);
        height: 800px;
        border-radius: 10px;
        color: white;

    }

    #previewOfStory label {
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }

    #previewOfStory button {
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
        color: white;
        background-color: var(--btn-bg-color-secondary);
        border: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }


    #storyViewCount {
        position: relative;
        width: 25px;
        background-color: #2b51a5;
        aspect-ratio: 1/1;
        margin: 10px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

    #footerInViewStory {
        display: flex;
        align-items: center;
    }



    #storyViewerList {
        position: absolute;
        width: calc(100% - 20%);
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.336);
        overflow: hidden;
        display: flex;

        justify-items: center;
    }


    #listOfViewer {
        width: 500px;
        position: absolute;
        bottom: 0;
        background-color: rgb(36, 36, 36);
        height: 60%;
        margin: auto;
        justify-content: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }



    #reactionsPopupIconheart {
        position: absolute;
        top: 45%;
        width: calc(100% - 20%);
        top: 45%;
        right: 0;
        transform: translate(-50%, -45%);
        display: flex;
        animation: fadeOutheart .3s ease-in;



    }

    #reactionsPopupIconheart #heartReactPopup {
        color: red;
        margin: auto;
        font-size: 40px;

    }


    #reactionsPopupIconhaha {
        position: absolute;
        top: 45%;
        width: calc(100% - 20%);
        top: 45%;
        right: 0;
        transform: translate(-50%, -45%);
        display: flex;
        animation: fadeOuthaha .3s ease-in;



    }

    #reactionsPopupIconhaha #hahaReactPopup {
        color: #e2c12b;
        margin: auto;
        font-size: 40px;

    }

    #reactionsPopupIconlike {
        position: absolute;
        width: calc(100% - 20%);
        top: 45%;
        right: 0;
        transform: translate(-50%, -45%);
        display: flex;
        animation: fadeOutlike .3s ease-in;



    }

    #reactionsPopupIconlike #likeReactPopup {
        color: blue;
        margin: auto;
        font-size: 40px;

    }









    #editProfileInfo {
        position: absolute;
        width: calc(100% - 20%);
        height: 100%;
        background-color: rgb(36, 36, 36);
        box-sizing: border-box;
        z-index: 1;
        right: 0;
        color: white;
    }

    #headerInProfile {
        width: 100%;
        background-color: rgb(36, 36, 36);
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid rgb(102, 102, 102);
    }

    #headerInProfile button {
        position: absolute;
        top: 10px;
        left: 5px;
        background-color: transparent;
        border: none;
    }

    #contentOfprofileInfo {

        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #contentOfprofileInfo div {
        display: flex;
        gap: 5px;
    }

    #contentOfprofileInfo input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid black;
    }

    #contentOfprofileInfo button {
        border-radius: 5px;
        background-color: #1C6CFF;
        color: white;
        border: none;
        padding: 5px 20px;
    }

    #bioDiv {
        display: flex;
        flex-direction: column;
    }

    #bioDiv textarea {
        width: 100%;
        height: 100px;
    }

    #bioDiv button {
        width: 30%;
        padding: 10px 20px;
    }

 #searchBody {
        position: absolute;
        width: calc(100% - 20%);
        height: 100%;
        background-color: rgb(36, 36, 36);
        box-sizing: border-box;
        z-index: 1;
        right: 0;
        color: white;
        border-left: 1px solid rgb(102, 102, 102);
    }

    #searchHeader {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(75, 75, 75);
        position: fixed;
        width: 80%;
        background-color: rgb(36, 36, 36);
        height: 6%;
    }

    #searchContent {
        display: flex;
        gap: 5px;
    }

    #searchContent input {
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    #searchContent button {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #1C6CFF;
        color: white;
    }

    #closeSearchWindow {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 20px;
    }



    #searchResultsBody {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        height: calc(100% - 6%);
        position: absolute;
        bottom: 0;
        width: 100%;
        overflow: auto;
    }

    #searchResultsBody::-webkit-scrollbar {
        display: none;
    }

    #searchResults {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    #contentsOfSearchResults {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.274);
    }

    #resultsDetails {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #resultsDetails img {
        width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 3px solid white;
    }

    #resultsControl {
        display: flex;
        gap: 10px;
    }

    #resultsControl button {
        padding: 10px;
        border-radius: 5px;
        color: white;
        border: none;
        background-color: #1C6CFF;
    }






    #loadingBarInComment #loadingComment {
        width: 30px;
        height: 30px;
        border: 5px solid white;
        position: absolute;
        top: 35%;

        margin-left: 2.5%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border-bottom: 5px solid transparent;
        animation: spinLoadingComment .5s linear infinite;

    }




    #searchLoadingMessage {
        position: absolute;
        height: calc(100% - 6%);
        bottom: 0;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        text-align: center;
    }














    #loadingBarInComment #loadingComment {
        width: 30px;
        height: 30px;
        border: 5px solid white;
        position: absolute;
        top: 35%;

        margin-left: 2.5%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border-bottom: 5px solid transparent;
        animation: spinLoadingComment .5s linear infinite;

    }



}








#loadingBody {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 100%;
    display: flex;
}

#loading {
    margin: auto;
    background: -webkit-linear-gradient(#dd2697, #e2c12b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
}








#loadingCircle {
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

#loadingCircle #circle {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 5px solid white;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#loadingBarInComment {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    top: 48px;
    z-index: 1;
}

#loadingBarInComment #loadingComment {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    animation: spinLoadingComment .5s linear infinite;

}

@keyframes spinLoadingComment {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
