:root {
    --bg-color: #FFFFFF;
    --primary-text-color: rgb(70, 70, 70);
    --btn-text-color: white;
    --btn-bg-color-secondary: #4E73C2;
    --btntoggle-color: rgb(218, 173, 29);
    --blackTextcolor: black;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    overflow: hidden;
}

body button {
    cursor: pointer;
}

#header {
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 60px;


}

#header h1 {
    font-size: 30px;
    font-family: 'Sacramento';

}

#header button {
    background-color: transparent;
    border: none;
    color: rgb(122, 122, 122);
    font-size: 20px;

}


#storyBody {
    background-color: #ffffff;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    border-top: 1px solid rgba(197, 197, 197, 0.788);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    gap: 0px;

}

#stories {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#addStories {
    cursor: pointer;
    font-family: sans-serif;
    border-radius: 10px;

}

.story-thumbnail {
    position: relative;
    width: 90px;
    height: 130px;
    overflow: hidden;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
    border-radius: 10px;
}

.story-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#story-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px 0;
    background: rgba(0, 0, 0, 0.699);
    color: white;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;


}

#story-label button {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 30px;
    border: none;
    text-align: center;
    background-color: #007bff;
    font-size: 10px;
    font-weight: bold;
    color: white;
    transition: .2s;
    z-index: 1;
}

#story-label button:hover {
    transform: scale(1.1);
}

#addStories:hover .story-thumbnail {
    border-color: #007bff;
}


#addNewStory {
    background-color: rgb(29, 29, 29);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

#addNewStoryBody {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 5px;
    justify-content: space-between;
    padding: 10px 0;


}

#addNewStoryBody button {
    background-color: var(--btn-bg-color-secondary);
    width: 20%;

    padding: 7px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;

    position: relative;
    margin: 0 10px;
}

#addNewStoryBody label {

    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 100%;
    color: rgb(255, 255, 255);
    

    text-align: center;
}

#addNewStoryBody #storyControl {
    display: flex;
    justify-content: right;
    width: 95%;
    
    
}

#addNewStoryBody #storyControl #closeAddStory {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 30px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}



#viewStoryBody {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
}

#previewOfStory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: auto;
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 100%;
    

    color: white;

}

#previewOfStory label {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#previewOfStory button {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    color: white;
    background-color: var(--btn-bg-color-secondary);
    border: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}




#userPost {
    position: absolute;
    width: 100%;
    height: calc(100% - 20%);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    top: 60px;
    z-index: -1;
    gap: 5px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#userPost::-webkit-scrollbar {
    display: none;
}



#postcontent {
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;

}

#postcontent #followBTN {
    background-color: rgba(0, 0, 0, 0.356);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: var(--btn-text-color);
    width: 70px;
}



#postlabel {

    font-size: 12px;
    margin-left: 5px;
}

#postlabel label {
    color: black;
    font-weight: bold;
}

#postlabel label span {
    color: rgb(116, 116, 116);
    font-weight: normal;

}

#userProfilePost {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#userProfilePost div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#userProfilePost img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(78, 78, 78);
    cursor: pointer;
}

#userProfilePost label {
    cursor: pointer;
}

#userProfilePost button {
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}




#userPostContent {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

#userPostContent img {
    width: 100%;
    height: 100%;
}

#userPostContent label {
    margin-left: 10px;
    font-size: 14px;

}



#likecommentshare {
    padding: 10px;

    display: flex;
    gap: 10px;
    justify-content: left;
}

#likecommentshare button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(112, 112, 112);
    cursor: pointer;
}

#likecommentshare button:hover {

    color: rgb(180, 180, 180);
}

#valueoflikecommentshare {
    display: flex;
    gap: 14px;
    font-size: 12px;
    color: rgb(109, 109, 109);
    padding: 0 0 5px 5px;

}





























#footerNav {
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 25px 15px 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(197, 197, 197, 0.788);
    gap: 35px;
}

#footerNav button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: rgb(121, 121, 121);
    cursor: pointer;
}


#sidebar {
    display: none;
}




#profileBody {
    position: absolute;
    width: 100%;
    height: calc(100% - 54px);
    background-color: var(--bg-color);
    z-index: 1;

}

#headProfile {
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

#headProfile label {
    font-size: 19px;
    color: var(--blackTextcolor);

}

#headProfile button {
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: var(--blackTextcolor);
}

#profileiconBody {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
}

#profileiconBody #profileControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
}

#profileiconBody img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#profileControl button {
    background-color: var(--btn-bg-color-secondary);
    padding: 7px 10px;
    border: none;
    border-radius: 8px;
    color: var(--btn-text-color);
    font-weight: 600;
}

#profileControl label {
    color: var(--blackTextcolor);
}


#profileDetails {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
}

#profileDetails div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;

}

#profileDetails div label:first-child {
    font-size: 20px;
    color: var(--blackTextcolor);
}

#profileDetails div label:last-child {
    font-size: 15px;
    color: var(--primary-text-color);
}
















#visitprofileBody {
    position: absolute;
    width: 100%;
    height: calc(100% - 54px);
    background-color: var(--bg-color);
    z-index: 1;

}

#visitheadProfile {
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

#visitheadProfile label {
    font-size: 19px;
    color: var(--blackTextcolor);

}

#visitheadProfile button {
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: var(--blackTextcolor);
}

#visitprofileiconBody {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
}

#visitprofileiconBody #profileControl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: left;
}

#visitprofileiconBody img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



#visitprofileControl label {
    color: var(--blackTextcolor);
}


#visitprofileDetails {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
}

#visitprofileDetails div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;

}

#visitprofileDetails div label:first-child {
    font-size: 20px;
    color: var(--blackTextcolor);
}

#visitprofileDetails div label:last-child {
    font-size: 15px;
    color: var(--primary-text-color);
}




#createPost {
    background-color: rgb(29, 29, 29);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
}

#createPost form {
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    
}


#createPost form #caption {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
#createPostControl{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    margin: 0 auto 10px auto;
}
#createPostUploaded{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#createPostUploaded input{
    width: 50%;
    margin: auto;
}

#createPost form #fileUp::-webkit-file-upload-button {
    width: 100%;
    padding: 10px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#createPost form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    cursor: pointer;
}

#createPost #closeCreatePost {
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--blackTextcolor);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: white;
}




#updateProfilePic {
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    z-index: 1;

}

#updateProfilePic #closeUpdateProfile {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#updateProfilePic #updateProfilePicForm {
    width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#updateProfilePic #updateProfilePicForm input::-webkit-file-upload-button {
    width: 100%;
    padding: 10px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
    border: none;
    border-radius: 5px;
}

#updateProfilePic #updateProfilePicForm button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color-secondary);
}








#profileContent {
    box-sizing: border-box;
    padding: 5px;
    max-height: calc(100% - 250px);
    overflow: auto;
    -ms-overflow-style: none;
}

#profileContent::-webkit-scrollbar {
    display: none;
}

#profileContent #imgGrid {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#profileContent #imgGrid div {
    border: 1px solid rgba(197, 197, 197, 0.788);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}

#profileContent #imgGrid div img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-size: contain;
}






#visitprofileContent {
    box-sizing: border-box;
    padding: 5px;
    max-height: calc(100% - 250px);
    overflow: auto;
    -ms-overflow-style: none;
}

#visitprofileContent::-webkit-scrollbar {
    display: none;
}

#visitprofileContent #visitimgGrid {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#visitprofileContent #visitimgGrid div {
    border: 1px solid rgba(197, 197, 197, 0.788);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
}

#visitprofileContent #visitimgGrid div img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-size: contain;
}









#previewofImageInPost {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

#previewofImageInPost div {
    width: 80%;

    margin: auto;
    display: flex;
}

#previewofImageInPost div img {
    width: 100%;
    height: auto;
    margin: auto;
}

#previewofImageInPost button {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}






#viewPostBody {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    overflow: hidden;
    box-sizing: border-box;

}

#commentsBody {
    background-color: white;
    position: absolute;
    bottom: -75%;
    width: 100%;
    height: calc(100% - 30%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    animation: up .2s linear;

}

@keyframes up {
    0% {
        bottom: -75%;
    }

    100% {
        bottom: 0%;
    }
}

#commentHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    gap: 10px;
}

#commentHead #closeComment {
    border-radius: 5px;
    width: 70px;
    padding: 2px;
    cursor: pointer;
}

#likesAndControls {
    display: flex;

    width: 90%;
    justify-content: space-between;

}

#likesAndControls button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#commentsContents {

    width: 100%;
    height: 100%;
    max-height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 10px;
    overflow: auto;
    background-color: white;
    border-bottom: 1px solid rgba(197, 197, 197, 0.788);
    margin-top: 2px;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

#commentsContents::-webkit-scrollbar {
    display: none;
}

#commentsOnPost {
    background-color: white;
    display: flex;
    gap: 10px;
    align-items: top;
}

#commentsOnPost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#commentDetails {
    background-color: #D9D9D9;
    width: auto;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#commentDetails label {
    word-break: break-all;
}

#commentDetails #userThatComment {
    color: black;
    font-weight: bold;
}

#addCommentToPost {

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 20px 10px;
    height: auto;
    box-sizing: border-box;
    background-color: white;
}

#addControl {
    display: flex;
    gap: 5px;
    background-color: white;

}

#addControl input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    border: 1px solid rgba(197, 197, 197, 0.788);
}

#addControl button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--btn-bg-color-secondary);
    font-size: 10px;
    width: 60px;
    cursor: pointer;
}

#addControl button i {
    transform: rotate(20deg);
}















#showFollowersBody {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 54px);
    background-color: white;
    box-sizing: border-box;
    z-index: 1;
}

#showFollowersBody #showFollowersHead {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 6px;
    justify-content: center;
}

#showFollowersHead button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    left: 5px;
}

#showFollowersContent {
    background-color: white;
    width: 100%;
    display: flex;
    padding: 6px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
    max-height: calc(100% - 30px);
    overflow: auto;
}

#followersContent {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    text-align: center;

}

#followersContent div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#followersContent label {
    color: black;
    font-weight: bold;
}

#followersContent img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#followersContent button {
    background-color: var(--btn-bg-color-secondary);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--btn-text-color);
    border: none;
}















































































































@media (min-width:930px) {
    body {
        background-color: #ffffff;
    }

    #header {
        display: none;
    }

    #sidebar {
        position: fixed;
        left: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: left;
        text-align: left;

        width: 20%;
        height: 100%;
        border-right: 1px solid rgba(197, 197, 197, 0.788);

    }

    #sidebar button {
        padding: 15px;
        border-radius: 6px;
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: none;
        text-align: left;
        font-size: 17px;
        cursor: pointer;
        margin: 0 8%;
    }

    #sidebar button:hover {
        background-color: rgba(158, 158, 158, 0.123);
    }

    .topbar {
        font-size: 50px;
        color: rgb(0, 0, 0);
        font-family: 'Sacramento';
        margin: 0 8%;
    }

    .botbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    #footerNav {
        display: none;
    }

    #userPost {
        width: calc(100% - 20%);
        right: 0;
        height: calc(100%);
        top: 0;
        background-color: #ffffff;
        padding: 0px 15%;

    }

    #postcontent {

        border-radius: 5px;
        background-color: #ececec;
        color: rgb(0, 0, 0);
        padding-bottom: 15px;
    }

    #userProfilePost {
        color: rgb(0, 0, 0);
        background-color: transparent;
    }

    #userProfilePost label {
        color: rgb(0, 0, 0);
    }

    #postcontent div {
        color: rgb(0, 0, 0);
    }



    #userProfilePost img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid rgb(0, 0, 0);
    }

    #storyBody {
        background-color: #ffffff;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-bottom: 1px solid rgba(197, 197, 197, 0.788);
        border-top: 1px solid rgba(197, 197, 197, 0.788);
        color: rgb(0, 0, 0);
        box-sizing: border-box;
        gap: 0px;

    }

    #stories {
        display: flex;
        gap: 5px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    #addStories {
        cursor: pointer;
        font-family: sans-serif;
        border-radius: 10px;

    }

    .story-thumbnail {
        position: relative;
        width: 180px;
        height: 280px;
        overflow: hidden;
        border: 2px solid #ccc;
        transition: border-color 0.3s ease;
        border-radius: 10px;
    }

    .story-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #story-label {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 4px 0;
        background: rgba(0, 0, 0, 0.699);
        color: white;
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;


    }

    #story-label button {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 50px;
        border: none;
        text-align: center;
        background-color: #007bff;
        font-size: 15px;
        font-weight: bold;
        color: white;
        transition: .2s;

    }

    #story-label button:hover {
        transform: scale(1.1);
    }

    #addStories:hover .story-thumbnail {
        border-color: #007bff;
    }

    #postlabel label {
        color: rgb(0, 0, 0);
        font-weight: bold;
    }


    #visitprofileBody {
        background-color: rgb(255, 255, 255);

        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);
    }

    #visitprofileBody #visitheadProfile label {
        color: rgb(0, 0, 0);
    }

    #visitprofileBody #visitheadProfile button {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #visitprofileiconBody label {
        color: rgb(0, 0, 0);
    }

    #visitprofileDetails #visitpostBody label {
        color: rgb(0, 0, 0);
    }

    #visitprofileDetails #visitfollowerBody {
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowerBody label {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowingBody {
        cursor: pointer;
    }

    #visitprofileDetails #visitfollowingBody label {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #profileBody {
        background-color: rgb(255, 255, 255);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);
    }

    #profileBody #headProfile label {
        color: rgb(0, 0, 0);
    }

    #profileBody #headProfile button {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #profileiconBody label {
        color: rgb(0, 0, 0);
    }

    #profileDetails #postBody label {
        color: rgb(0, 0, 0);
    }

    #profileDetails #followerBody {
        cursor: pointer;
    }

    #profileDetails #followerBody label {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }

    #profileDetails #followingBody {
        cursor: pointer;
    }

    #profileDetails #followingBody label {
        color: rgb(0, 0, 0);
        cursor: pointer;
    }





    #profileContent {
        padding: 5px;
        color: black;
    }

    #profileContent #imgGrid {
        gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: black;
    }

    #profileContent #imgGrid div {
        border: 1px solid rgba(197, 197, 197, 0.788);
        border-radius: 5px;
        box-sizing: border-box;
        display: flex;
        color: black;
    }

    #profileContent #imgGrid div img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background-size: contain;
        color: black;
    }




    #createPost {
        background-color: rgb(29, 29, 29);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);
    }

    #createPost form {

        width: 600px;
    }

    #createPost form #preview {
        width: 100%;
        margin: auto;
    }


    #updateProfilePic {
        background-color: rgb(255, 255, 255);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);

    }

    #createPost #closeCreatePost {
        color: white;
        cursor: pointer;
    }

    #updateProfilePic #closeUpdateProfile {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: transparent;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;

    }

    #updateProfilePic #updateProfilePicForm {
        width: 600px;
    }

    #updateProfilePic #updateProfilePicForm input::-webkit-file-upload-button {
        width: 100%;
        padding: 10px;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color-secondary);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #updateProfilePic #updateProfilePicForm button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color-secondary);
        cursor: pointer;
    }










    #viewPostBody {
        background-color: rgba(0, 0, 0, 0.158);
        z-index: 1;
        height: 100%;
        width: calc(100% - 20%);
        position: absolute;
        right: 0;
        border-left: 1px solid rgba(197, 197, 197, 0.788);
        display: flex;
        padding: 0 14%;

    }

    #commentsBody {
        background-color: white;
        position: absolute;
        bottom: -75%;
        width: 65%;
        height: calc(100% - 30%);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        animation: up .2s linear;
        border: 1px solid rgba(197, 197, 197, 0.788);


    }

    @keyframes up {
        0% {
            bottom: -75%;
        }

        100% {
            bottom: 0%;
        }
    }

    #commentHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid rgba(197, 197, 197, 0.788);
        gap: 10px;
    }

    #commentHead #closeComment {
        border-radius: 5px;
        width: 70px;
        padding: 2px;
    }

    #likesAndControls {
        display: flex;

        width: 90%;
        justify-content: space-between;

    }

    #likesAndControls button {
        background-color: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }

    #commentsContents {

        width: 100%;
        height: 100%;
        max-height: 80%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap: 10px;
        overflow: auto;
        background-color: white;
        border-bottom: 1px solid rgba(197, 197, 197, 0.788);
        margin-top: 2px;
        scrollbar-width: none;
        -ms-overflow-style: none;

    }

    #commentsContents::-webkit-scrollbar {
        display: none;
    }

    #commentsOnPost {
        background-color: white;
        display: flex;
        gap: 10px;
        align-items: top;
    }

    #commentsOnPost img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #commentDetails {
        background-color: #D9D9D9;
        width: auto;
        padding: 5px 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    #commentDetails label {
        word-break: break-all;
    }

    #commentDetails #userThatComment {
        color: black;
        font-weight: bold;
    }

    #addCommentToPost {

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 10px 20px 10px;
        height: auto;
        box-sizing: border-box;
        background-color: white;
    }

    #addControl {
        display: flex;
        gap: 5px;
        background-color: white;

    }

    #addControl input {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;
        border: 1px solid rgba(197, 197, 197, 0.788);
    }

    #addControl button {
        padding: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        font-weight: bold;
        background-color: var(--btn-bg-color-secondary);
        font-size: 10px;
        width: 60px;
        cursor: pointer;
    }

    #addControl button i {
        transform: rotate(20deg);
    }

    #userPostContent {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    #userPostContent video {
        max-height: 600px;
    }









    #showFollowersBody {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 20%);
        height: 100%;
        background-color: white;
        box-sizing: border-box;
        z-index: 1;
    }

    #showFollowersBody #showFollowersHead {
        background-color: white;
        display: flex;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid black;
        width: 100%;
        padding: 6px;
        justify-content: center;
    }

    #showFollowersHead button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    #showFollowersContent {
        background-color: white;
        width: 100%;
        display: flex;
        padding: 6px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 8px;
        max-height: calc(100% - 30px);
        overflow: auto;
    }

    #followersContent {
        background-color: rgba(0, 0, 0, 0.062);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 10px 15px;
        width: 100%;
        text-align: center;

    }

    #followersContent div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    #followersContent label {
        color: black;
        font-weight: bold;
    }

    #followersContent img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    #followersContent button {
        background-color: var(--btn-bg-color-secondary);
        padding: 5px 10px;
        border-radius: 10px;
        color: var(--btn-text-color);
        border: none;
    }









    #addNewStory {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 20%);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }

    #addNewStoryBody {
        width: 600px;
        height: auto;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;



    }



    #addNewStoryBody label {

        padding: 5px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.26);
        color: rgb(0, 0, 0);
        text-align: center;
    }






    #viewStoryBody {
        background-color: rgb(255, 255, 255);
        width: calc(100% - 20%);
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
    }

    #previewOfStory {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        margin: auto;
        width: 500px;
        background-color: rgb(0, 0, 0);
        height: 800px;
        border-radius: 10px;

        color: white;

    }

    #previewOfStory label {
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
    }

    #previewOfStory button {
        font-weight: bold;
        font-size: 15px;
        padding: 10px;
        color: white;
        background-color: var(--btn-bg-color-secondary);
        border: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
























    #loadingBarInComment #loadingComment {
        width: 30px;
        height: 30px;
        border: 5px solid white;
        position: absolute;
        top: 35%;

        margin-left: 2.5%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border-bottom: 5px solid transparent;
        animation: spinLoadingComment .5s linear infinite;

    }



}








#loadingBody {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

#loading {
    margin: auto;
    background: -webkit-linear-gradient(#dd2697, #e2c12b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
}








#loadingCircle {
    background-color: rgba(0, 0, 0, 0.301);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

#loadingCircle #circle {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 5px solid white;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#loadingBarInComment {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    top: 48px;
    z-index: 1;
}

#loadingBarInComment #loadingComment {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-bottom: 5px solid transparent;
    animation: spinLoadingComment .5s linear infinite;

}

@keyframes spinLoadingComment {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
