:root {
    --bg-color: #FFFFFF;
    --primary-text-color: rgb(70, 70, 70);
    --btn-text-color: white;
    --btn-bg-color-secondary: #4E73C2;
    --btntoggle-color: rgb(218, 173, 29);
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Righteous';
    background-color: rgb(0, 0, 0);
    overflow: hidden;

}

#loginForm {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;



}

#loginForm .logo {
    font-size: 60px;
    font-family: 'Sacramento';
    color: rgb(255, 255, 255);
}

#loginForm #useFB {
    padding: 40px 0px 0px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.555);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;


}

#loginForm #useFB label {
    bottom: 0;
    position: inherit;
    background-color: rgb(0, 0, 0);
    padding: 0px 5px;
    text-align: center;
    margin-bottom: -8px;
    color: rgba(255, 255, 255, 0.555);
    font-size: 12px;

}

#loginForm #useFB button {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px 40px;
    border: none;
    background-color: var(--btn-bg-color-secondary);
    color: white;
    gap: 5px;
    border-radius: 8px;
    width: 300px;
    font-family: 'Righteous';
    cursor: pointer;
    box-shadow: 0px 0px 4px var(--btn-bg-color-secondary);
}

#loginForm #useFB button i {
    color: var(--btn-bg-color-secondary);
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    font-size: 21px;
    border-radius: 48%;
    padding: 5px 5px 0px 5px;
}

#usernameBody,
#passwordBody {
    display: flex;
    width: 300px;
    margin: auto;
    align-items: center;
}

#usernameBody label,
#passwordBody label {
    position: absolute;
    margin-left: 10px;
    font-size: 12px;
    cursor: text;
    transition: .1s;
    color: rgba(255, 255, 255, 0.603);
}

#usernameBody input,
#passwordBody input {
    padding: 20px 10px 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-text-color);
    color: rgb(255, 255, 255);
}



#usernameBody input:not(:placeholder-shown)~label,
#passwordBody input:not(:placeholder-shown)~label {
    transform: translate(0px, -12px);
    font-size: 11px;

    color: rgb(105, 105, 105);
}

#forgotPassword {
    justify-content: right;
    width: 300px;
    text-align: right;
    margin: -15px auto auto auto;
    font-size: 13px;
    
    cursor: pointer;
}

#forgotPassword a {
    color: rgba(255, 255, 255, 0.644);
}

#btnBody {
    display: flex;
    width: 300px;
    margin: auto;
    align-items: center;
}

#btnBody button {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 13px 40px;
    border: none;
    background-color: #365899;
    color: white;
    gap: 5px;
    border-radius: 8px;
    font-size: 16px;
    width: 300px;
    font-family: 'Righteous';
    cursor: pointer;
    box-shadow: 0px 0px 10px #5580d1;
    border: 1px solid #5580d1;
}

#btnBody button:disabled {
    background-color: #365899;
    color: #999999;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    opacity: 0.6;
    border: none;
}





#goRegister a {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
}



#enterEmailforPassword {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);

}

#closeForgotpassword {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: rgb(36, 36, 36);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#enterEmailforPassword form {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: rgb(36, 36, 36);
    gap: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

#enterEmailforPassword form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(136, 136, 136);
}

#enterEmailforPassword form button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #5580d1;
    border: none;
    cursor: pointer;
    font-family: 'Righteous';

}



































#loadingBody {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    display: flex;
}

#loading {
    margin: auto;
    background: -webkit-linear-gradient(#dd2697, #e2c12b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
}








#successNotif {
    background-color: #4DAE5F;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    max-width: 300px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    z-index: 1;

}


#errorNotif {
    background-color: #E63946;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    max-width: 300px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    z-index: 1;

}

#serverLoadingBody {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    align-items: center;
    justify-content: center;
}

#serverLoading {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    width: 50%;
    margin: auto;
    width: 183px;
    color: white;
}

#serverLoader {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 4px solid rgb(255, 255, 255);
    border-bottom: 4px solid transparent;
    animation: spinner .5s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#serverLoading span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typingDots 1s steps(4, end) forwards infinite;
}

@keyframes typingDots {
    from {
        width: 0
    }

    to {
        width: 30px
    }

   
}
